body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.full-page {
    min-height: 100vh;
    padding-top: 60px; /* altura da navbar */
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    color: #0f0;
    text-decoration: none;
    font-size: 24px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    color: #0f0;
    text-decoration: none;
    margin: 0 10px;
}

.nav-links li a:hover {
    border-bottom: 2px solid #0f0;
}
